<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css') }}">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drawing App</title>
</head>
<body>
    <h1 id = "title-text">Drawing App <span id="text">TensorFlow</span></h1>
    <div class="drawing-box">
        <canvas id="drawingCanvas"></canvas>
    </div>
    <br>
    <button class="ripple" onclick="clearCanvas()">Clear</button>
    &nbsp;
    <button style="margin-left: 0px;" class="ripple" onclick="saveDrawing()">Submit</button>
    <p id="predictionResult">Predicted digit: </p>
    
    <h2 id = "image-text">Propability graph:</h2>
    <div id="image-container"></div>
</body>
    <script>
        const canvas = document.getElementById('drawingCanvas');
        const ctx = canvas.getContext('2d');

        // Define the smaller drawing box dimensions
        const drawingBox = document.querySelector('.drawing-box');
        const boxWidth = drawingBox.offsetWidth;
        const boxHeight = drawingBox.offsetHeight;

        // Resize the canvas to fit the drawing box
        canvas.width = boxWidth;
        canvas.height = boxHeight;

        let isDrawing = false;

        // Event listeners for mouse events
        canvas.addEventListener('mousedown', startDrawing);
        canvas.addEventListener('mousemove', draw);
        canvas.addEventListener('mouseup', endDrawing);
        canvas.addEventListener('mouseleave', endDrawing);

        function startDrawing(e) {
            isDrawing = true;
            draw(e);  // To start drawing immediately at the click position
        }

        function draw(e) {
            if (!isDrawing) return;

            ctx.lineWidth = 3;
            ctx.lineCap = 'round';
            ctx.strokeStyle = 'white';

            ctx.lineTo(e.offsetX, e.offsetY);
            ctx.stroke();
            ctx.beginPath();
            ctx.moveTo(e.offsetX, e.offsetY);
        }

        function endDrawing() {
            isDrawing = false;
            ctx.beginPath();  // Reset path
        }

        function clearCanvas() {
            ctx.clearRect(0, 0, canvas.width, canvas.height);
        }

        function saveDrawing() {
            // Convert canvas to base64 image data
            const dataURL = canvas.toDataURL('image/jpeg');

            // Send drawing data to Flask backend
            const ipAddress = window.location.hostname === '127.0.0.1' ? 'http://127.0.0.1:5000' : 'http://192.168.106:5000';
            fetch(`${ipAddress}/process`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: new URLSearchParams({
                    'file': dataURL
                })
            })
            .then(response => response.json())
            .then(data => {
                // Update HTML with prediction result
                document.getElementById('predictionResult').innerText = `Predicted digit: ${data.value}`;
                
                // Remove previously displayed image
                const imageContainer = document.getElementById('image-container');
                if (imageContainer.firstChild) {
                    imageContainer.removeChild(imageContainer.firstChild);
                }

                // Display new decoded image
                var base64String = data.prob;
                var img = document.createElement('img');
                img.src = "data:image/jpeg;base64," + base64String;
                img.alt = 'Decoded Image';
                imageContainer.appendChild(img);
            })
            .catch(error => console.error('Error saving drawing:', error));
        }
    </script>
</html>